.historial-container {
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.historial-container h2 {
    text-align: center;
    font-size: 24px;
    margin-bottom: 20px;
    color: #333;
}

.historial-container table {
    width: 100%;
    border-collapse: collapse;
    font-size: 16px;
    color: #333;
}

.historial-container th, .historial-container td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

.historial-container th {
    background-color: #0267FF;
    color: white;
    font-weight: bold;
}

.historial-container th:first-child {
    border-top-left-radius: 8px; /* Borde redondeado superior izquierdo solo en el primer th */
}

.historial-container th:last-child {
    border-top-right-radius: 8px; /* Borde redondeado superior derecho solo en el último th */
}

.historial-container tr:nth-child(even) {
    background-color: #f2f2f2;
}

.historial-container tr:hover {
    background-color: #e1f5fe;
}

.historial-container td {
    text-align: center;
}

.historial-container .empty-message {
    text-align: center;
    padding: 20px;
    font-style: italic;
    color: #666;
}

footer {
    position: sticky;
    bottom: 0;
    width: 100%;
    background-color: #f8f8f8;
    padding: 10px 0;
    margin-top: auto; /* Empuja el footer hacia abajo cuando el contenido es corto */
}

