body {
    font-family: Arial, sans-serif;
    background-image: url('../images/ocean\ background.jpg');
    background-size: cover; /* Asegura que la imagen cubra toda la página */
    background-repeat: no-repeat; /* Evita que la imagen se repita */
    background-position: center; /* Centra la imagen */
}

form {
    background-color: #51Aee5;
    max-width: 300px;
    margin: 0 auto;
    padding: 4em;
    border: 3px solid #3871C1;
    border-radius: 1em;
    color: white;
}

label {
    display: block;
    margin-top: 1em;
}

input {
    width: 100%;
    padding: 0.5em;
    margin-top: 0.5em;
}

button {
    color:  #3871C1;
    font-weight: bold;
    background-color: white;
    border: 3px solid #3871C1;
    border-radius: 1em;
    margin-top: 1em;
    padding: 0.5em;
    width: 100%;
}

.error-message {
    color: red;
    margin-top: 1em;
}

div {
    display:grid;
    justify-content: center;
    align-content: center;
}

.logologin{
    height:400px;
    width: auto;
    filter: drop-shadow(0 0 10px rgba(5, 96, 170, 0.678)); /* Añade un sombreado negro alrededor del logo */

}

.box{
    flex-direction: column;
    justify-content: center;
}
p{
font-weight: bold;
text-align: center;
}

#registro{
    text-decoration: none;
    text-align: center;
    color:  #3871C1;
    font-weight: bold;
    background-color: white;
    border: 3px solid #3871C1;
    border-radius: 1em;
    margin-top: 1em;
    padding: 0.5em;
    width: 100%;
}

#descripcion {
    width: 300px; 
    height: 150px; 
}

/* Contenedor del campo de contraseña */
.input-wrapper {
    position: relative;

}
/* Configuración para ambos campos de entrada */
input[type="text"], input[type="password"] {
    width: 100%; /* Asegura que ambos campos ocupen todo el ancho del contenedor */
    max-width: 300px; /* Controla el ancho máximo */
    padding: 0.5em;
    box-sizing: border-box;
    margin-top: 0.5em;
}

/* Campo de entrada de contraseña */
#passw {
    padding-right: 2.5em; /* Espacio para el ícono */
}

/* Ícono para mostrar/ocultar contraseña */
.toggle-password {
    position: absolute;
    right: 7px;
    top: 60%;
    transform: translateY(-50%);
    cursor: pointer;
    font-size: 1.2em;
    color: #3871C1;
}


